<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">

    body {
      margin:40px auto;
      max-width:1000px;
      line-height:1.6;
      color:#444;
    }


    #sidebar {
      width: 25%;
    }

    #debug {
      width:100%;
      background-color: silver;
    }

    #main {
      margin-left: 25%;
    }

  </style>
</head>
<body>
  <div id="container">
    <aside id="sidebar">
      <section id="labelWidget">
        <form id="labelForm">
          <input type="text" name="Label">
          <button>Add Tag</button>
        </form>
      </section>
    </aside>
    <div id="main">
      <!-- content goes here -->
      <h2 id="title">Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend eleifend pretium. Suspendisse potenti.
        Morbi mattis, tortor eget maximus ornare, lorem erat porta urna, viverra eleifend augue orci ut felis.
        Proin facilisis augue a fringilla euismod. Morbi sagittis massa porta, dapibus lacus vel, dignissim enim.
        Sed interdum, nulla vel lacinia consequat, nisi massa dictum nisl, a mattis quam felis ut arcu. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Duis dapibus augue non laoreet tempor. Pellentesque facilisis
        consectetur nulla, et porttitor ante malesuada vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean pharetra malesuada mi, nec fringilla est bibendum sed. Cras sagittis sapien vitae convallis accumsan.
        Fusce id libero facilisis, hendrerit sapien at, gravida magna. Mauris sit amet elementum sapien, at euismod
        urna. Aliquam volutpat ante nisi, non tempor tellus consectetur at.
      </p>
      <p>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porttitor
        quis erat quis faucibus. Ut porta risus quam, non elementum diam consectetur eu. Phasellus diam elit, eleifend
        ac rhoncus nec, congue sit amet est. Sed in elit ac massa fermentum maximus. Cras vitae venenatis tellus. Suspendisse et magna aliquet, ullamcorper mi quis, fringilla nisl. Nam in sodales nunc.
      </p>
      <p>
        Proin molestie, orci at pellentesque gravida, sapien nunc dignissim felis, eu malesuada orci augue ut tortor. 
        Vivamus ornare elementum velit consectetur mattis. Morbi malesuada bibendum nunc quis sollicitudin. Fusce
        facilisis nisl ut eros auctor, eget iaculis ex condimentum. Nulla vel sagittis dolor. Nam commodo diam urna,
        et tincidunt magna efficitur id. Proin sed turpis non eros auctor tincidunt. Suspendisse nec dolor volutpat
        mi tempor aliquet quis sed dui. Nunc vel sem porttitor, ornare ante eu, aliquet erat. Aenean vel faucibus massa,
        in imperdiet purus.
      </p>
    </div>
    <div id="debug">
      <pre>
        Calibrating systems...
        Solving linear inequalities...
        System is ready!
      </pre>
    <div>
  </div>
  <script>
    var sidebarForm = document.getElementById('labelForm');
    sidebarForm.
  </script>
</body>
</html>
